head
  title My Site
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/kube/6.5.2/css/kube.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/kube/6.5.2/js/kube.min.js')
