<div class="navbar">
    <div class="row">
        <div class="two columns">
            <a href="/">runner</a>
        </div>
        
        <div class="one column offset-by-six">
            <a href="/history">History</a>
        </div>

        <div class="one column">
            <a href="/search">Search</a>
        </div>

        <div class="one column">
            <a href="/settings">Settings</a>
        </div>

        <div class="one column">
            <% if(true){ %>
                <a href="/login">Logout</a>
            <% } else { %>  
                <a href="/login">Login</a>
            <% } %>

        </div>

    </div>
</div>