<div class="navbar">
    <div class="row">
        <div class="two columns">
            <a href="/">runner</a>
        </div>
        
        <div class="one column offset-by-six">
            <a href="/history">history</a>
        </div>

        <div class="one column">
            <a href="/search">search</a>
        </div>

        <div class="one column">
            <a href="/settings">settings</a>
        </div>

        <div class="one column">
            <% if(true){ %>
                <a href="/login">logout</a>
            <% } else { %>  
                <a href="/login">login</a>
            <% } %>

        </div>

    </div>
</div>