<form>
    <div class="row">
        <div class="twelve columns">
        <label for="exampleEmailInput">name</label>
        <input class="u-full-width" type="text" placeholder="Jane Doe" id="exampleEmailInput">
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
        <label for="exampleEmailInput">password</label>
        <input class="u-full-width" type="password" placeholder="password" id="exampleEmailInput">
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
        <label for="exampleEmailInput">shoes</label>
        <input class="u-full-width" type="text" placeholder="shoes" id="exampleEmailInput">
        </div>
    </div>
    <input class="button-primary" type="submit" value="Submit">
</form>