<form method="POST" action="/signup">
    <div class="row">
        <div class="twelve columns">
        <label for="exampleEmailInput">name</label>
        <input name='name' class="u-full-width" type="text" placeholder="Jane Doe" id="exampleEmailInput" required>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
        <label for="exampleEmailInput">password</label>
        <input name='password' class="u-full-width" type="password" placeholder="password" id="exampleEmailInput" required>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
        <label for="exampleEmailInput">class year</label>
        <input name='year' class="u-full-width" type="text" placeholder="year" id="exampleEmailInput" required>
        </div>
    </div>
    <input class="button-primary" type="submit" value="Submit">
</form>