<% include partials/head %>

<div class="row home-btn">
    <div class="eight columns offset-by-two" style="text-align: center">
        <h1>Individual Search</h1>
    </div>
</div>
<div class="row" >
    <div class="four columns offset-by-four">
        <form action='/advanced' method='POST'>
            
            <div class="row">
                <div class="twelve columns">
                <label for="exampleEmailInput">Search Options</label>
                <select name="search" STYLE="width: 330px">
                        <option value = "0"></option>
                        <option value="search1">Search on full name</option>
                        <option value="search2">Search on date.</option>
                        <option value="search3">Search on mileage.</option>
                        <option value="search4">Search on stress.</option>
                        <option value="search5">Search on meals.</option>
                        <option value="search6">Search on sleep.</option>
                </select>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                <label for="exampleEmailInput">Search Value</label>
                <input name='searchvalue' class="u-full-width" type="text" placeholder="" id="exampleEmailInput">
                </div>
            </div>
            <input class="button-primary" type="submit" value="Submit">
            <a href="/team_advanced" id="button-link">
                <input class="button-primary" type="button" value="Team Search"></div>
            </a>
        </form>
    </div>
</div>

<% include partials/footer %>