<% include partials/head %>

<div class="row home-btn">
    <div class="two columns offset-by-one">
        <a href="/new_run" id="button-link">
            <div class="home-btn-main add-run">
                Add Run
            </div>
        </a>
    </div>

    <div class="two columns  offset-by-two">
        <a href="/wellness" id="button-link">
            <div class="home-btn-main wf-btn">
                Wellness Form
            </div>
        </a>
    </div>

    <div class="two columns  offset-by-two">
        <a href="/add_shoe" id="button-link">
            <div class="home-btn-main search-btn">
                Add Shoes
            </div>
        </a>
    </div>
    
</div>

<div class="row">
    <div class="six columns offset-by-one">
        <div class="week-run-container">
            <div class="week-run">
                <canvas id="weekruns" height="220px"></canvas>
            </div>
        </div>
    </div>
    <div class="four columns offset-by-one">
        <div class="team-container">
            <div class="team-table" style="overflow-y: scroll;">
                <h5>Recent Team Runs</h5>
                <table class="u-full-width">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Distance</th>
                            </tr>
                        </thead>
                        <tbody>
                           <% for(var i = 0; i < data.length;i++){%>
                                <tr>
                                    <td><%=data[i].name%></td>
                                    <td><%=data[i].mileage%></td>
                                </tr>
                          <% }%>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

</div>
<script>
var ctx = document.getElementById("weekruns").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Mon.", "Tue.", "Wed.", "Thu.", "Fri.", "Sat.", "Sun."],
            datasets: [{
                label: 'Weekly Miles',
                data: <%- JSON.stringify(week.map(d => d.distance)) %>,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255,99,132,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Distance',
                        fontSize: 14
                    },
                    ticks: {
                        beginAtZero:true,
                        fontSize:14
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontSize: 14
                    }
                }]
            },
            legend: { display: false },
            title: {
              display: true,
              text: 'This Weeks Runs',
              fontSize: 14
            }
        }
    });
</script>

<% include partials/footer %>