<% include partials/head %>

<div class="row home-btn">
    <div class="two columns offset-by-one">
        <a href="/new_run" id="button-link">
            <div class="home-btn-main add-run">
                Add Run
            </div>
        </a>
    </div>

    <div class="two columns  offset-by-two">
        <a href="/wellness" id="button-link">
            <div class="home-btn-main wf-btn">
                Wellness Form
            </div>
        </a>
    </div>

    <div class="two columns  offset-by-two">
        <a href="/add_shoe" id="button-link">
            <div class="home-btn-main search-btn">
                Add Shoes
            </div>
        </a>
    </div>
    
</div>

<div class="row">
    <div class="six columns offset-by-one">
        <div class="week-run-container">
            <div class="week-run">
                <canvas id="weekruns" height="110px"></canvas>
            </div>
        </div>

        <div class="week-run-container">
            <div class="week-run">
                <canvas id="wellness" height="110px"></canvas>
            </div>
        </div>
    </div>
    <div class="four columns offset-by-one">
        <div class="team-container">
            <div class="team-table">
                <h5>Recent Team Runs</h5>
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Distance</th>
                            <th>Route</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dave Gamache</td>
                            <td>9</td>
                            <td>Browns</td>
                        </tr>
                        <tr>
                            <td>Dwayne Johnson</td>
                            <td>12</td>
                            <td>Benburr</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<% include partials/footer %>