body(class = 'container')
    h1(class = 'text-center') Play60
    div(class = 'text-center')
      a(href="/" + uid + "/home" ) Home 
      a |
      a(href = "/" + uid + "/createPost") Create Posting
      a |
      a(href = "/" + uid + "/profile") Profile
      a  |
      a  Get Involved
      a  |
      a  Football
      a  |
      a  Basketball
      a  |
      a  Soccer
      a  |
      a  Tennis
      a  |
      a  Other
      a  |
      a(href = '/login')  Logout
  block content
