<% include partials/head %>

<div class="row home-btn">
    <div class="four columns offset-by-four" style="text-align: center">
        <h1>Login/Sign Up</h1>
    </div>
</div>

<div class="row">
    <div class="four columns offset-by-four">
    <div class="row">
        <div class="six columns">
            <a href='/login'><button id="login" class='button-primary'>login</button></a>
        </div>
        <div class="six columns">
            <a href='/signup'><button id="signup">sign up</button></a>
        </div>
    </div>
        <div id="result">
            <%- include partials/login.ejs %>
        </div>
    </div>
</div>

<% include partials/footer %>