<% include partials/head %>
<center><h1>New Run</h1>



<form action="/new_run" method="post" >
Date:  <input type = "text" name = "date" />
    <br>
    Mileage: <input type = "text" name = "mileage" />
    <br>
    Feeling: <input type = "text" name = "feeling" />
    <br>
    <input type = "submit" value = "Submit" />
</form>

	
</center>
<% include partials/footer %>