<% include partials/head %>

<div class="row home-btn">
    <div class="four columns offset-by-four" style="text-align: center">
        <h1>Search</h1>
    </div>
</div>
<form>
    <div class=row>
        <div class="six columns offset-by-four" style="text-align: center">
            <div class="six columns"><input class="u-full-width" type="text" placeholder="name / distance / location" id="exampleEmailInput"></div>
            <div class="two columns"><input class="button-primary" type="submit" value="Submit"></div>
        </div>
    </div>
</form>
<div class="row">
    <div class="six columns offset-by-three">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Distance</th>
                    <th>Location</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1/1/2017</td>
                    <td>6</td>
                    <td>Browns</td>
                    <td>poop</td>
                </tr>
                <tr>
                    <td>1/1/2017</td>
                    <td>6</td>
                    <td>Browns</td>
                    <td>poop</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<form>
        <div class=row>
            <div class="six columns offset-by-three" style="text-align: center">
                <a href="/advanced" id="button-link">
                    <div class="two columns-offset-by-one"><input class="button-primary" type="button" value="Individual Search">
                </a>   
                <a href="/team_advanced" id="button-link">
                    <input class="button-primary" type="button" value="Team Search"></div>
                </a>
            </div>
        </div>
    </form>

<% include partials/footer %>