<% include partials/head %>

<div class="row home-btn">
    <div class="four columns offset-by-four" style="text-align: center">
        <h1>Login/Sign Up</h1>
    </div>
</div>

<div class="row">
    <div class="four columns offset-by-four">
    <div class="row">
        <div class="six columns">
            <button id="login">login</button>
        </div>
        <div class="six columns">
            <button id="signup">sign up</button>
        </div>
    </div>
        <div id="result">
            <%- include partials/signup.ejs %>
        </div>
    </div>
</div>


<script>
   var $result = $('#result'); 
    $('#signup').click(function() {
       $result.load('/signup');
    })
    $('#login').click(function() {
       $result.load('/login');
    })
</script>

<% include partials/footer %>