<% include partials/head %>
<div class="row home-btn">
        <div class="ten columns offset-by-one" style="text-align: center">
            <h1>Advanced Team Search</h1>
        </div>
    </div>
    
    <div class="row" >
        <div class="four columns offset-by-four">
            <form action='/team_advanced' method='POST'>
                <div class="row">
                    <div class="twelve columns">
                    <label for="exampleEmailInput">Mileage</label>
                    <select name= "miles" STYLE="width: 335px">
                            <option value="miles1">Most miles ran.</option>
                            <option value="miles2">Least miles ran.</option>
                    </select>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                    <label for="exampleEmailInput">Health Score</label>
                    <select name="health" STYLE="width: 335px">
                            <option value="health1">Best health score.</option>
                            <option value="health2">Worst health score.</option>
                    </select>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                    <label for="exampleEmailInput">Shoes</label>
                    <select name="combo" STYLE="width: 335px">
                            <option value="shoe1">Most common trainer.</option>
                            <option value="shoe2">Least common trainer.</option>
                    </select>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                    <label for="exampleEmailInput">Combination</label>
                    <select STYLE="width: 335px">
                            <option value="combo1">Combine mileage and health score choices.</option>
                            <option value="combo2">Combine mileage and shoe choices.</option>
                            <option value="combo3">Combine shoe and health score choices.</option>
                            <option value="combo4">Combine all three choices.</option>
                            <option value="combo5">Search mileage option only.</option>
                            <option value="combo6">Search shoe option only.</option>
                            <option value="combo7">Search health option only.</option>
                    </select>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                    <label for="exampleEmailInput">Date Range(Optional)</label>
                    <input name='date_range' class="u-full-width" type="text" placeholder="11/7/2016, 11/18/2016" id="exampleEmailInput">
                    </div>
                </div>
                <input class="button-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
<% include partials/footer %>