<% include partials/head %>

<div class="row home-btn">
    <div class="four columns offset-by-four" style="text-align: center">
        <h1>Wellness Form</h1>
    </div>
</div>

<div class="row" >
    <div class="four columns offset-by-four">
        <form action='/wellness' method='POST'>
            <div class="row">
                <div class="twelve columns">
                <label for="exampleEmailInput">Sleep</label>
                <input name='sleep' class="u-full-width" type="text" placeholder="8" id="exampleEmailInput">
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                <label for="exampleEmailInput">Stress</label>
                <input name='stress' class="u-full-width" type="text" placeholder="6" id="exampleEmailInput">
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                <label for="exampleEmailInput">Meals</label>
                <input name='meal' class="u-full-width" type="text" placeholder="3" id="exampleEmailInput">
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                <label for="exampleEmailInput">Date</label>
                <input name='date' class="u-full-width" type="text" placeholder="11/7/2017" id="exampleEmailInput">
                </div>
            </div>
            <input class="button-primary" type="submit" value="Submit">
        </form>
    </div>
</div>

<% include partials/footer %>